################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Ignore all bin and obj directories
**/bin/
**/obj/
